<h1>Gráfica dinámica</h1>
<hr />

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas
        baseChart
        width="400"
        height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [chartType]="'line'"
      >
      </canvas>
    </div>
  </div>

  <div class="col-md-6">
    <div style="display: block;">
      <canvas
        baseChart
        width="400"
        height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [chartType]="'bar'"
      >
      </canvas>
    </div>
  </div>
  <div class="col-md-6">
    <div style="display: block;">
      <canvas
        baseChart
        width="400"
        height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [chartType]="'pie'"
      >
      </canvas>
    </div>
  </div>
</div>
